<!DOCTYPE html>
<!--
 * SmartCampus
 *  ©SmartCampus 2014 https://github.com/thomasNDS/SmartCampus2014
 *  License MIT
-->

<html>
    <head>
        <title>SmartCampus - Camera</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="/images/logo_black.png" />

        <!-- Loading Bootstrap -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- CSS de la page -->
        <link href="/css/style.css" rel="stylesheet" type="text/css">

        <!-- JS -->
        <script src="/js/translate.js"></script>
        <script src="/js/libs/AR_mediaStream_fichiers/ga.js" async=""></script>
        <script src="/js/libs/AR_mediaStream_fichiers/JSARToolKit.js"></script>
        <script src="/js/libs/AR_mediaStream_fichiers/utils.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/screenManagement.js"></script>
        <script src="/js/panelManager.js"></script>
        <script src="/js/augmentedReality.js"></script>


    </head>
    <body>
        <div id="wrapper">
            <!--MENU-->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="#" data-target="#popParam" data-toggle="modal"><i class="icon-white fa fa-cog logoFont"></i> <!--Paramètres--></a></li>
                    <li><a href="#" data-target="#popAbout" data-toggle="modal"><i class="icon-white fa fa-info-circle logoFont"></i> <!--A Propos--> </a></li>
                    <li><a href="#" data-target="#popHelp" data-toggle="modal"><i class="icon-white fa fa-question-circle logoFont"></i> <!--Aide--> </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-white fa fa-plus-square logoFont">
                        <span class="caret"></span>
                        </i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/covoiturage.html">Covoiturage</a></li>
                            <li><a href="/casierNFC.html">Smart self service</a></li>
                            <li><a href="index.html">Carte du campus</a></li>
                        </ul>
                    </li>
                  </ul>                    
                </div>
              </div>
            </nav>

            <!--DIV POUR LA VIDEO-->
            <div id="backgroundVideo"></div>

            <!--DIV QUI CONTIENDRA L'UI-->
            <div id="mainContent" class="container-fluid">
                <!--Tout le contenu dans une row--> 
                <div class="row-fluid voffset5">
                    <div id="pageContent" class="span12">
                    </div>

                    <!--POP UP AFFICHER QUAND EN FACE D'UN BATIMENT--> 
                    <div id="popUpInfos" class="modal hide fade">
                        <div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
                            <h3 id="popUpTitle"></h3>
                        </div>
                        <div id="popUpContent" class="modal-body">
                            Voulez-vous l'afficher ?
                        </div>
                        <div id="popUpFooter" class="modal-footer"> 
                            <a class="btn btn-success" onclick="showInfoPanel()" data-dismiss="modal">Plus d'informations ?</a>
                        </div>
                    </div>

                    <!--Barre du bas pour le popUp info quand un panel est déjà affiché-->
                    <nav id="bottomPopUp" class="navbar navbar-fixed-bottom navbar-inverse">
                        <div class="navbar-inner">
                            <div class="container-fluid" >
                                <button class="btn btn-large btn-primary pull-right" onclick="closeBottomPopUp()">X</button>
                                <div id="bottomPopUpArrow" class="row-fluid" onclick="showInfoPanel()">^</div>
                                <div id="bottomPopUpContent" class="row-fluid" onclick="showInfoPanel()">
                                    <div id="bottomPopUpPicture" class="span2"></div>
                                    <div id="bottomPopUpDescription" class="span7"></div>
                                </div>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>

            <img id="logo" src="/images/logo_SmartCampus_transparent.svg" alt="SmartCampus" />

        </div>

        <!--Modal section-->
        <div class="modal fade" id="popParam" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Paramètre</h4>
                    </div>
                    <div class="modal-body text-center" >
                       <form>
                            <div class="form-group">
                                <label id="langage_info" for="langage">Langue</label><br>
                                <select name="langage" id="langage">
                                    <option value="fr">Français</option>
                                    <option value="en">English</option>
                                    <option value="uk">Український</option>
                                    <option value="ru">русский</option>
                                </select>
                            </div>
                           <div class="form-group">
                            <label>Plein écran</label><br>
                               <button id="btnFullScreen" class="btn btn-primary" onclick="manageFullScreen(document.documentElement);"><i class="fa icon-white fa-arrows-alt logoFont"></i> </button>      
                           </div>
                        </form>                
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
                </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="popAbout" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">À propos</h4>
                    </div>
                    <div class="modal-body" >
                        L'équipe SmartCampus est formée de 5 étudiants de dernière année à Polytech'Grenoble, en filière RICM. Le but de cette application est de permettre à l'utilisateur d'accéder à plusieurs types d'informations :
                        <ul>
                            <li>des infos de crowdsourcing, comme la longueur de files d'attent</li>
                            <li>des infos générales sur les bâtiments et objets du campus</li>
                            <li>des données de capteurs atmosphériques</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
                </div>
            </div>
          </div>
        </div>
        
        
        <div class="modal fade" id="popHelp" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Aide</h4>
                    </div>
                    <div class="modal-body" >
                        Cet application offre 2 modes de fonctionnement :
                        <ul>
                            <li>en mode "réalité augmentée ", pointez votre téléphone sur un QR code pour obtenir des informations sur le batiment ou l'objet</li>
                            <li>en mode " plan ", cliquez sur un item de la carte pour obtenir des informations sur le batiment ou l'objet.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
                </div>
            </div>
          </div>
        </div>
        
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>
