<!DOCTYPE html>
<!--
menu template for interface
* SmartCampus
*  ©SmartCampus 2014 https://github.com/thomasNDS/SmartCampus2014
*  License MIT
-->
<html>
    <head>
        <title>SmartCampus - Map</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="/images/logo_black.png" />



        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
        <link href="/bower_components/leaflet/dist/leaflet.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css">

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/leaflet/dist/leaflet.js"></script>
        <script src="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>


        <script type="text/javascript" src="/js/translate.js"></script>
        <script type="text/javascript" src="/js/screenManagement.js"></script>
        <script type="text/javascript" src="/js/panelManager.js"></script>
        <script type="text/javascript" src="/js/loader.js"></script>
        <script type="text/javascript" src="/bower_components/L.EasyButton/easy-button.js"></script>
        <script type="text/javascript" src="/bower_components/jqueryui/jquery-ui.min.js"></script>

    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" data-target="#popParam" data-toggle="modal"><i class="icon-white fa fa-cog logoFont"></i> <!--Paramètres--></a></li>
                            <li><a href="#" data-target="#popAbout" data-toggle="modal"><i class="icon-white fa fa-info-circle logoFont"></i> <!--A Propos--> </a></li>
                            <li><a href="#" data-target="#popHelp" data-toggle="modal"><i class="icon-white fa fa-question-circle logoFont"></i> <!--Aide--> </a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-white fa fa-plus-square logoFont">
                                        <span class="caret"></span>
                                    </i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/covoiturage.html">Covoiturage</a></li>
                                    <li><a href="/casierNFC.html">Smart self service</a></li>
                                    <li><a href="augmentedReality.html">Réalité augmentée</a></li>
                                </ul>
                            </li>
                        </ul>                    
                    </div>
                </div>
            </nav>

            <div id="map-canvas"></div> <!--balise qui affiche la carte-->
            <!--Menu lateral-->
            <div id="panelPOI" class="panel">
                <div class="conteneur">
                    <h3 id="informationTitle" class="titlePanel"></h3>
                    <div class="line-separator"></div>
                    <div id="contentPanelPOI"></div>

                </div>
            </div>

            <div id="panelTwitter" class="panel">
                <!--<div class="conteneur">
                    <a class="twitter-timeline" href="https://twitter.com/OpenSmartCampus" data-widget-id="480202600965369856">Tweets de @OpenSmartCampus</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>-->

            </div>

            <div id="panelInfoSensors" class="panel">
                <div class="conteneur">
                    <h3 id="titleSensors" class="titlePanel">Info capteurs</h3>
                    <div class="line-separator"></div>
                    <div id="contentPanelSensors">
                        <div class="pull-right">
                            Last Update: 
                            <span>08/06/14 10:55:49 pm</span>
                        </div>
                        <br><br><br>
                        <dl class="dl-horizontal">
                            <dt class="customTypo">Temperature</dt>
                            <dd class="badge pull-left">32°C</dd>
                            <dt class="customTypo">Humidité</dt>
                            <dd class="badge pull-left">80%</dd>
                            <dt class="customTypo">Pression</dt>
                            <dd class="badge pull-left">1024 hPa</dd>
                        </dl>

                    </div>
                </div>

            </div>



            <img id="logo" src="/images/logo_SmartCampus_transparent.svg" alt="SmartCampus" />

        </div>
        <!--Modal section-->
        <div class="modal fade" id="popParam" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Paramètre</h4>
                    </div>
                    <div class="modal-body text-center" >
                        <form>
                            <div class="form-group">
                                <label id="langage_info" for="langage">Langue</label><br>
                                <select name="langage" id="langage">
                                    <option value="fr">Français</option>
                                    <option value="en">English</option>
                                    <option value="uk">Український</option>
                                    <option value="ru">русский</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Plein écran</label><br>
                                <button id="btnFullScreen" class="btn btn-primary" onclick="manageFullScreen(document.documentElement);"><i class="fa icon-white fa-arrows-alt logoFont"></i> </button>      
                            </div>
                        </form>                

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="popAbout" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">À propos</h4>
                    </div>
                    <div class="modal-body" >
                        L'équipe SmartCampus est formée de 5 étudiants de dernière année à Polytech'Grenoble, en filière RICM. Le but de cette application est de permettre à l'utilisateur d'accéder à plusieurs types d'informations :
                        <ul>
                            <li>des infos de crowdsourcing, comme la longueur de files d'attent</li>
                            <li>des infos générales sur les bâtiments et objets du campus</li>
                            <li>des données de capteurs atmosphériques</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="popHelp" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Aide</h4>
                    </div>
                    <div class="modal-body" >
                        Cet application offre 2 modes de fonctionnement :
                        <ul>
                            <li>en mode "réalité augmentée ", pointez votre téléphone sur un QR code pour obtenir des informations sur le batiment ou l'objet</li>
                            <li>en mode " plan ", cliquez sur un item de la carte pour obtenir des informations sur le batiment ou l'objet.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>




        <!--Load script from the map and the interactions -->
        <script type="text/javascript" src="/js/map-osm.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>


    </body>
</html>
