<!DOCTYPE html>
<html>

    <head>
        <title>SmartCampus | Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/admin.js"></script>
    </head>

    <body>

            <nav class="nav navbar-inverse">
                <ul id="entities_list" class="nav nav-tabs">
                    <li><img src="/images/logo_SmartCampus_blue.svg" alt="SmartCampus" 
                             style="height:35px; padding-right:20px;"/></li>
                </ul>

            </nav>

            <div class="row">
                <nav class="col-md-2" id="leftmenu">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="" id="menu_configuration" onclick="get_sensors()"><i class="glyphicon glyphicon-cog"></i> Capteurs</a></li>
                        <li><a href="#" id="menu_comments" onclick="get_comments()"><i class="glyphicon glyphicon-comment"></i> Commentaires</a></li>
                        <li><a href="#" id="menu_rights"><i class="glyphicon glyphicon-ok-sign"></i> Droits</a></li>
                        <li><a href="#" id="menu_events" onclick="get_events()"><i class="glyphicon glyphicon-calendar"></i> Événements</a></li>
                        <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                    </ul>
                </nav>

                <div id="splitter">
                    <div class="col-md-5">
                        <div id="entities_content" class="tab-content"></div>
                        <div id="leftpanel"></div>
                    </div>
                    <div id="div_openhab" class="col-md-5">
                        <div id="div_comments"></div>
                        <div id="div_comments_error"></div>
                    </div>
                </div>
            </div>


        <script type="text/javascript">
            initialize();
        </script>

    </body>
</html>
