<!DOCTYPE html>
<html>
    <head>
        <title>Configuration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>Configuration</h1>

        <span class="nav nav-pills nav-stacked" data-toggle="collapse" data-target="#div_sensors">
        </span>

        <div class="collapse in">
            <div id="div_sensors" class="panel-body">
            </div>
        </div>
        <script type="text/javascript">
        $.getJSON('/api/SensorsWireless', function(data){
             var i = 0;
             var item = data.payload[i];
             var balise = "";
             var balise2 = "";
             console.log("generation de la page de config");
             $("#div_sensors").append('<table class="table table-striped" id="test">');
             $("#test").append('<th>Name</th>');
             $("#test").append('<th>Longitude</th>');
             $("#test").append('<th>Latitude</th>');
             $("#test").append('<th>Clef AES</th>');
             $("#test").append('<th>Item Operate</th>');
             while (item) {
                 console.log(item.name);
                 balise = 'c'+i;
                 balise2 = '#c'+i;
                 truc = 
                 $("#test").append('<tr id="'+balise+'">');
                 $(balise2).append("<td>" + item.name +"</td>");
                 $(balise2).append("<td>" + item.longitude +"</td>");
                 $(balise2).append("<td>" + item.latitude +"</td>");
                 $(balise2).append("<td>" + item.clefAES +"</td>");
                 $(balise2).append('<td>'+
            '<a class="like" href="javascript:void(0)" title="Like">'+
                '<i class="glyphicon glyphicon-heart"></i>'+
            '</a>'+
            '<a class="edit ml10" href="javascript:void(0)" title="Edit">'+
                '<i class="glyphicon glyphicon-edit"></i>'+
            '</a>'+
            '<a class="remove ml10" href="javascript:void(0)" title="Remove"'+ 'onclick="sensorDelete('+"'"+item.name+"',"+"'"+item.longitude+"',"+"'"+item.latitude+"',"+"'"+item.clefAES+"',"+"'"+item._id+"',"+"'"+balise2+"'"+')">'+
                '<i class="glyphicon glyphicon-remove"></i>'+
            '</a>'
            +'</td>');
                 i++;
                 item = data.payload[i];
             }
             $("#div_sensors").append('</table>');
        });
        </script>
        
        <script type="text/javascript">
        function sensorDelete(name,longitude,latitude,clefAES, id, tag){
            console.log("enter in request ajax");
            $.ajax({
                    type: "DELETE",
                    url: "/api/SensorsWireless",
                    data : {"name": name,
                            "latitude": latitude,
                            "longitude": longitude,
                            "clefAES": clefAES,
                            "_id": id
                        },
                    success: function () {
                        console.log("delete success : "+name);
                        $(tag).remove();

                    }
                }); 
        }
        </script>
    </body>
</html>
