<!DOCTYPE html>
<html>
    <head>
        <title>SmartCampus | Ajout de capteurs LoRa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
        <link href="/bower_components/leaflet/dist/leaflet.css" rel="stylesheet">
        <link href="/css/panelAdmin.css" rel="stylesheet" type="text/css">

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/leaflet/dist/leaflet.js"></script>
        <script src="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>

        <script type="text/javascript" src="/js/mapAdmin.js"></script>


    </head>
    <body>


        <div id="splitter">
            <div class="col-md-6">
                <h1>Ajout de capteurs</h1>
                <form class="form-horizontal" action="" id="myForm">
                <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="identifier">Name *</label>  
                        <div class="col-md-4">
                            <input id="sensorsId" name="Name" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="latitude">Latitude *</label>  
                        <div class="col-md-4">
                            <input id="latitude" name="latitude" type="text" placeholder="4.2" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="longitude">Longitude *</label>  
                        <div class="col-md-4">
                            <input id="longitude" name="longitude" type="text" placeholder="4.2" class="form-control input-md">

                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="aeskey">Clef AES</label>  
                        <div class="col-md-4">
                            <input id="aeskey" name="aeskey" type="text" placeholder="" class="form-control input-md">
                            <span class="help-block">128 ou 192 bits</span>  
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="validate"></label>
                        <div class="col-md-4">
                            <button id="validate" name="validate" class="btn btn-info">Valider</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Rentrez la position ou selectionnez la sur la carte</h3>
            <div id=mapAdmin></div>
        </div>
        
        <script type="text/javascript">
            jQuery("#myForm").submit(function(event) {
                event.preventDefault(); //empeche le refresh de la page
                
                jQuery("#sensorsId").css("background-color","white");
                jQuery("#latitude").css("background-color","white");
                jQuery("#longitude").css("background-color","white");
                
                var name = document.forms[0].elements["Name"].value;
                var longitude = document.forms[0].elements["longitude"].value;
                var latitude = document.forms[0].elements["latitude"].value;
                
                if((name !== "")&&(longitude !== "")&&(!isNaN(longitude))&&(latitude !== "")&&(!isNaN(latitude))){

                    jQuery.ajax({
                        url: "http://localhost:9999/api/SensorsWireless",
                        type: 'POST',
                        data: {"name": name,
                            "latitude": latitude,
                            "longitude": longitude,
                            "clefAES":document.forms[0].elements["aeskey"].value
                        },
                        success: function() {
                            console.log("success");
                            console.alert("success");
                        }
                    });
                } else{
                    console.log("error");
                    if(name === ""){
                        jQuery("#sensorsId").css("background-color","red");
                    }
                    if((latitude === "")||(isNaN(latitude))){
                        jQuery("#latitude").css("background-color","red");
                    }
                    
                    if((longitude === "")||(isNaN(longitude))){
                        jQuery("#longitude").css("background-color","red");
                    }
                }
            });
              
        </script>
    </body>
</html>