/*General information*/

html {
    background: black;
    color: white;
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
}

.modal-footer{
    text-align: center;    
}

#backgroundVideo{
    position: absolute;
}
.icon-white{
    color: white;
}
.logoFont{
    font-size: 1.7em;
    margin-top: -3px;
    padding-right: 3px;
}

#mainContent {
    position : absolute;
    left:20%;
    top:30%;
}

#wrapper {
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 640px) {
    #logo {
        position:fixed;
        bottom: 10px;
        left: 5px;
        height: 30px;
    }
}

#logo{
    position:fixed;
    bottom: 20px;
    left: 5px;
    height: 50px;
}

/*Comment zone*/
.zoneAddComment{
}
.addPseudo{
    width: 80%;
}
.commentArea{
    width: 80%;
}
.commentBtn {
    margin: 3px;
    text-align: left;
}

/*popup*/
#popUpTitle {
    text-align: center;
}

}#popUpContent{
    text-align: center;
}

#popUpFooter {
    text-align: center;
}
#popUpInfos {
    width: 60%;
    top: 20%;
    left: 20%;
    margin-top: 0%;
    margin-left: 0%;
}

#bottomPopUp {
    display : none; 
}

#bottomPopUpContent, #bottomPopUpArrow{
    cursor : pointer;
    color : white;
    text-align: center;
}

#bottomPopUpArrow{
    height: 12px;
}

/*Map*/
#map-canvas {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 94%;
}

#map-canvas img {
    max-width: none; 
}


/*Information panel*/
.titlePanel{
    color : white;
    text-align: center;
}

.titlePanel > button{
    position: absolute;
    right: 25px;
    top: 55px;
}

.moreBtn {
    text-align: center;
    padding-top: 10px;
}

.moreBtn > .btn, .commentBtn > .btn {
    font-size: 1.1em;
}

#sensorsDiv{
    border-top-style: solid;
    border-top-width: thin;
}

#infoDiv{
    border-top-style: solid;
    border-top-width: thin;
}

.mealDiv{
    border-bottom-width: thin;
    border-bottom-style: dashed;
}

.panel{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    margin-top: 50px;
    width: 436px;
    height: 92%;
    right: 0px;
    overflow-y: auto;


}
.conteneur{
    color:white;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: justify;
}
.line-separator{
    height:1px;
    background:white;
    border-bottom:1px solid white;
}

.titleInfoPanel{
    text-align: center;
    cursor: pointer;
}
.customTypo{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 19px;
    padding: 3px 0px;

}
.badge {
    background: none repeat scroll 0% 0% #FFF;
    color: #333;
    font-weight: 700;
    font-size: 11px;
    margin-left: 10px;
}